<div class="side-left">
    <div class="side-left--top">
        <div class="logo mar-l-32 mar-b-32"><a href="/"><img src="/assets/logo_au.svg" width="81" /></a></div>
        <div class="dropdown">
            <button class="dropbtn">Компоненты</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>        
        <div class="dropdown">
            <button class="dropbtn">Страницы</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div> 
        <div class="dropdown">
            <button class="dropbtn">Бизнес-логика</button>
        </div>                 
    </div>
    <div class="side-left--bottom">
        <div class="font-12 gray-54">Последние изменения</div>
        <div class="">15 мая 2017, в 15:43</div>
    </div>
</div>