@import '../../../../styles/colors';

.favorites-element {
    padding-bottom: 38px;
    cursor: pointer;
    margin-bottom: 8px;
}

.favorites-element:hover {
    border-left: 2px solid $blue-line;
    margin-left: -24px;
    padding-left: 22px;
}

.favorites-element:hover .favorites--title {
    color: $blue-light;
}

.favorites-element:hover .favorites--subtitle {
    color: $blue;
}

.favorites-element:hover .favorites--image {
    opacity: 0.8;
}

.favorites-element .favorites--title {
    font-size: 15px;
    font-family: 'Proxima Nova Semibold';
    margin-bottom: 4px;
    color: $blue;
}

.favorites-element .favorites--subtitle {
    font-size: 13px;
    color: $toolbar;
    opacity: 0.6;
}

.favorites--editor {
    opacity: 0;
    position: absolute;
    margin-top: 52px;
    font-size: 10px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: $gray-75;
}

.favorites--editor:hover {
    color: $red;
}



.favorites-element .favorites--image {
    width: 64px;
    height: 37px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: all 60ms cubic-bezier(.755, .05, .855, .06);
    transition: all 60ms cubic-bezier(.755, .05, .855, .06);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}