/* C O L O R S */

$blue: rgba(0,112,224,1);
$blue-light: rgba(41,149,241,1);
$blue-line: rgba(109,176,234,1);
$blue-line-extra: rgba(109,176,234,0.1);
$blue-line-extra-up: rgba(109,176,234,0.15);
$light-blue: #dbedff;
$extra-blue: rgba(0,112,224,0.1);

$red: #F44336;

$yellow: #ffcc66; 
$green-dark: #28a745;
$green-light: #34d058;
$light-green: #ebfff0;
$toolbar: #24292e;
$super-green: #8bc34a;

$gray-line: rgba(230,232,235,1);

$gray-85: rgba(0,0,0,.85);
$gray-75: rgba(0,0,0,.75);
$gray-54: rgba(0,0,0,.54);
$gray-32: rgba(0,0,0,.32);
$gray-16: rgba(0,0,0,.16);
$gray-8: rgba(0,0,0,.08);
$gray-6: rgba(0,0,0,.06);

//
$gray-4: rgba(0,0,0,.04);

$gray-2: rgba(0,0,0,.02);

//
$side-left: #F7F9FA;


.gray-54 {
    color: $gray-54;
}

.color-blue {
    color: $blue !important;
}