/* C O L O R S */

$blue: #0366D6;
$blue-light: rgba(3,102,214,.6);
$light-blue: #dbedff;
$yellow: #ffcc66;
$green-dark: #28a745;
$green-light: #34d058;
$light-green: #ebfff0;
$toolbar: #24292e;

$gray-85: rgba(0,0,0,.85);
$gray-75: rgba(0,0,0,.75);
$gray-54: rgba(0,0,0,.54);
$gray-32: rgba(0,0,0,.32);
$gray-16: rgba(0,0,0,.16);
$gray-8: rgba(0,0,0,.08);
$gray-6: rgba(0,0,0,.06);
$gray-4: rgba(0,0,0,.04);
$gray-2: rgba(0,0,0,.02);