/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-light-green);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

@import 'colors';

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{margin:0}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none} /*! end */

body {
  font-family: 'Proxima Nova Regular';
  margin: 0;
  padding: 0;
  overflow: hidden;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  -webkit-transition: all 180ms ease-in-out;
  -moz-transition: all 180ms ease-in-out;
  -ms-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;     
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
  -webkit-transition: all 180ms ease-in-out;
  -moz-transition: all 180ms ease-in-out;
  -ms-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;     
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 4px;
  -webkit-transition: all 180ms ease-in-out;
  -moz-transition: all 180ms ease-in-out;
  -ms-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;      
}
::-webkit-scrollbar-thumb:hover {
  -webkit-transition: all 180ms ease-in-out;
  -moz-transition: all 180ms ease-in-out;
  -ms-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;     
  background: $blue-light;
  cursor: pointer !important;
}
::-webkit-scrollbar-thumb:active {
  background: $blue;
}
::-webkit-scrollbar-track {
  background: $gray-4;
  border: 0px none #ffffff;
  border-radius: 25px;
}
::-webkit-scrollbar-track:hover {
  background: $gray-4;
}
::-webkit-scrollbar-track:active {
  background: $gray-4;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.windowcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.side-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.side-right-full {
    padding-right: 48px;
    padding-left: 32px;
    padding-bottom: 16px;
    margin-top: 43px;
    z-index: 1000;
}

.side-right-left {
  overflow: auto;
  padding-right: 32px;
  padding-left: 32px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.side-right-right {
  width: 280px;
  padding-right: 24px;
  margin-left: 24px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.side-right-right.wide {
  width: 40%;
}
.side-right-right.wide.w320 {
  width: 320px;
}

.side-right-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mat-checkbox-label {
  padding-left: 6px !important;
}

@import 'typography';


// USERBAR


pages-cards {
  width: 100%;
}


// CARDS 

card {
  display: block;
  width: 100%;
  height: 268px;
  padding: 0;
  cursor: pointer;   
  margin-bottom: 32px;
}

card:hover card-elem {
  -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);  
  border: 1px solid $blue-line;
}

card:hover card-elem .card-elem-title {
  color: $blue-light;
  border-top: 1px solid $blue-line;
}

card:active card-elem {
  border: 1px solid $blue;
  -webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.1);    
}
card-elem {
  border: 1px solid $gray-line;
  display: block;
  height: inherit;
  border-radius: 2px;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -ms-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out;    
}

card-elem-img {
  display: block;
  background: $gray-2;
  width: 100%;
  height: 180px;
  background-image: url('/assets/lot2x.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}


.card-elem-title, {
  padding: 4px 16px;
  padding-top: 12px;
  color: $blue;
  border-top: 1px solid $gray-line;
  font-size: 14px;
  font-family: 'Proxima Nova Semibold';  
}
.card-elem-status {
  padding: 0px 16px;
  font-size: 13px;
  color: $gray-75;
  font-family: 'Proxima Nova Regular';
}

hr {
  border: 0;
  margin: 0;
  padding: 0;
  border-top: 1px solid $gray-line;
}


.dataTitle {
  display: block;
  font-size: 11px;
  font-family: 'Proxima Nova Regular';
  color: $gray-32;
  padding: 8px;
  padding-left: 16px;
}


.subtoolbar {
  font-size: 13px;
}

 .subButton {
  border: 0;
  height: 34px;
  background: none;
  cursor: pointer;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -ms-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out;  

  font-family: 'Proxima Nova Regular';
  color: $gray-85;

  border: 1px solid $gray-line;
  border-radius: 2px;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
}

.subButton.triangle {
  background-image: url('/assets/icons/triangle-right.svg');
  background-size: 24px 9px;
  background-position: right center;
  background-repeat: no-repeat;
  padding-left: 12px;
  padding-right: 32px;
}

 .subButton:hover {
  border-color: $blue-line
}

 .subButton:focus {
     outline: none;
     color: $blue-light;
     border-color: $gray-line;
}

.subButtonMenu {
  display: none;
  position: absolute;
  background: #fff;
  min-width: 220px;
  text-align: left;
  border: 1px solid $gray-line;
  margin-left: -13px;
  margin-top: 8px;
    -webkit-box-shadow: 0px 0px 16px -2px rgba(42,148,241,0.39);
    -moz-box-shadow: 0px 0px 16px -2px rgba(42,148,241,0.39);
    box-shadow: 0px 0px 16px -2px rgba(42,148,241,0.39);  
}

.subButtonMenu .element {
  color: $gray-85;
  padding: 12px;
}

.subButtonMenu .element:hover {
  color: $blue;
  background-color: $blue-line-extra;
}

.subButtonMenu .element:active {
  color: $blue-light;
  background-color: $blue-line-extra-up;
}

.subButtonMenu hr {
  margin: -12px;
  padding: 0;
}

.w100 {
  min-width: 130px;
}

.subButtonMenu .element.hRhR {
    display: block;
    height: 1px;
    padding: 0;
    margin: 0;
    border-top: 1px solid $gray-line;
    overflow: hidden;
}

.windowDragger {
  width: 100%;
  overflow: hidden;
}

.no-pad-l-r {
  padding-left: 16px;
  padding-right: 0px;
}

#draggable {
  cursor: move;
}

.mat-input-container {
  width: 100% !important;
}

p.invalid {
  color: $red;
  font-size: 13px;
}

views-mini {
    width: 100%;
}