<div class="subheader">
    <div class="container">
        <div class="row flex-left-center">
            <div class="col-7 col-sm-8 col-md-9 col-lg-10">
                <div class="flex-left-center">

					<div class="mar-r-16 mar-t-3">
						<button routerLink="/pages" md-mini-fab class="fab-clear fab-gray" title="Назад к документам">
						<md-icon>library_books</md-icon>
						</button>
					</div>

                    <h2>{{ DocumentTitle }}</h2>
                    
                </div>
            </div>
		
            <div class="col-5 col-sm-4 col-md-3 col-lg-2 editor flex-right-center">
                <div>
                    <button md-mini-fab class="fab-clear fab-gray mar-l-24" (click)="removePagesItem()" title="Удалить"><md-icon>delete</md-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="app-upcontainer"> 
 <div class="container content mar-t-16-phone">

    <div class="row">

        <div class="col-12 col-sm-9">

            
            <div class="flex-left-wrapped h-tags color-gray-b8 mar-b-24 mar-b-24-phone">

                <div class="mar-l-16-phone div-full-phone" *ngIf="DocumentTags != ''">
                    <a *ngFor='let tagElem of DocumentTags' routerLink="/pages/tag/{{tagElem.slug}}">{{tagElem.title}}</a>
                </div>

                <div class="flex-left-center text-center-phone div-full-phone mar-l-8 mar-l-8-phone mar-t-16-phone">
                    <button md-mini-fab class="fab-clear" [mdMenuTriggerFor]="menu" title="Метки календаря"><md-icon>expand_more</md-icon></button>
                    <md-menu #menu="mdMenu">
                        <button md-menu-item *ngFor="let tagListElem of GlobalTags" (click)="setDocumentTag(tagListElem.slug, tagListElem.title)">{{tagListElem.title}}</button>
                    </md-menu>
                </div>

            </div>


        </div>

        <div class="col-12 col-sm-3 text-right text-center-phone mar-b-24-phone mobile-hidden">
            <button color="accent" md-raised-button (click)="updatePagesItem()">СОХРАНИТЬ</button>
        </div>

    </div>

	 <div class="row">
		 <div class="col-12">

				<textarea id="html" [htmlEditor] [(ngModel)]="DocumentContent" name="DocumentContent"></textarea>

		 </div>
	 </div>
 </div>
</div>
