@import '../../../../styles/colors';

[DialogEditButtons] {
    position: absolute;
    margin-top: -14px;
    margin-left: 222px;
    z-index: 3000 !important;
}

[DialogItem] {
    width: 480px;
    min-height: 200px;
}

[DialogItem] [DialogDateGroup] {
    margin-bottom: 18px;
}

[DialogItem] [DialogDate], [DialogItem] [DialogAbstraction] {
    font-size: 14px;
}

[DialogItem] [DialogCloser] {
    width: 24px;
    height: 24px;
}

[DialogItem] [DialogTitle] {
    font-size: 32px;
    line-height: 34px;
    font-family: 'Proxima Nova Semibold';
    letter-spacing: -1px;
    margin-bottom: 16px;
}

[DialogItem] [DialogAbstraction] {
    color: $blue;
    cursor: pointer;
}

[DialogItem] [DialogContent] {
    font-size: 18px;
    min-height: 200px;
}

[DialogItem] [DialogLastChanges] {
    font-size: 15px;
    color: $gray-75;
}


.mat-mini-fab.clear:hover {
  color: $blue;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -ms-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out;  
}

.mat-mini-fab.clear.activated {
  color: $blue;
  margin-left: 226px;
}


[InputTitle] {
    font-size: 24px;
    resize: none;
}