
    <div class="tagEditor">
            <h3 class="mar-b-24">Редактировать</h3>
            <!--
            <div class="small">Название</div>
            <md-input-container class="mar-b-16">
                <input mdInput [(ngModel)]="DocumentTitle" name="DocumentTitle" value="{{DocumentTitle}}">
            </md-input-container>
            -->

            <div class="small mar-b-16">Метки</div>
            <div *ngIf="DocumentTags[0]" class="mar-b-24">

                <div class="tagElement flex-center-justify" *ngFor="let tag of DocumentTags">
                    <div class="tagElementTitle" *ngIf="tag">{{tag.title}}</div>
                    <div><button md-mini-fab class="fab-clear fab-small" (click)="deleteMsg(tag.title)"><md-icon class="fonts-small">close</md-icon></button></div>
                </div>

            </div>

            <form #tagsForm="ngForm">

                <div class="small">Прикрепить метку</div>

                <div class="flex-left-center">

                <md-input-container>
                    <input mdInput [(ngModel)]="test" [mdAutocomplete]="auto" [formControl]="stateCtrl" (click)="onClear()" name="test">
                </md-input-container>

                <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let state of filteredStates | async" [value]="state" (click)="onSubmit(state)" class="tagAutocomplete">
                    {{ state }}
                </md-option>
                </md-autocomplete>


                </div>

            </form>

    </div>
