        <div class="windowcontainer">
    
        <left-side></left-side> 

        <div class="side-right">
            <div class="side-right-full">
                <div class="flex-center-justify">
                        <h3>{{ DocumentTitle }}</h3>                    
                        <div class="flex-right-center">
                        <button md-button color="primary" (click)="openDialog()">НОВЫЙ ДОКУМЕНТ</button>
                        
                        <user-bar></user-bar>
                        </div>
                </div>
       

                <hr class="mar-t-16 mar-b-16" />
            </div>
            <div class="side-right-col">

            
                <div class="side-right-left row mar-b-64">  <!-- start content -->
                    <pages-cards [DocumentRendered]="DocumentRendered" [PagesSorting]="PagesSorting"></pages-cards>
                </div> <!-- end content -->


                <div class="side-right-right  pad-l-24 mar-r-24">
                    <div><a routerLink="/pages" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Всё подряд</a></div>
                    <div *ngFor="let tags of TagsList"><a routerLink="/pages/tag/{{tags.slug}}" routerLinkActive="active">{{tags.title}}</a></div>
                    <hr>
                    <button md-mini-fab class="fab-clear" [mdMenuTriggerFor]="menuSorting" title="Сортировать по..."><md-icon>expand_more</md-icon></button>
                    <md-menu #menuSorting="mdMenu">
                        <button md-menu-item (click)="setPageSorting('-id')">Id</button>
                        <button md-menu-item (click)="setPageSorting('title')">Название</button>
                        <button md-menu-item (click)="setPageSorting('-date_created')">Дата создания</button>
                        <button md-menu-item (click)="setPageSorting('-date_lastedit')">Дата изменения</button>
                    </md-menu>

                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="showLoading">
        <sub-loader></sub-loader>
    </div>
