<div (mouseenter)="toggleCategoryOpacity('true')" (mouseleave)="toggleCategoryOpacity(null)">
<div class="col-12" *ngFor="let element of InputDataContainer">
    <div class="contentMini-group"> 
        <div class="date">{{element.date_start | date}}</div>
        <div class="flex-center-justify">
            <h2 class="status" [className]="'status '+ element.status">{{element.title}}</h2>
            <div class="date mar-l-24 flex-center" [ngStyle]="{'opacity': categoryOpacity}"><a class="category" href="#">Модераторские функции</a></div>
        </div>
        
    </div>
</div>
</div>