
/*
  *********************** MARGINS ***********************

  MARGIN: TOP
*/


  .mar-80 {	margin-top: 80px; }
  .mar-64 {	margin-top: 64px; }
  .mar-48 {	margin-top: 48px; }
  .mar-32 {	margin-top: 32px; }
  .mar-24 {	margin-top: 24px; }
  .mar-16 {	margin-top: 16px; }
  .mar-0 {	margin-top: 0; }   

.mar-t-80 {	margin-top: 80px; }
.mar-t-64 {	margin-top: 64px; }
.mar-t-48 {	margin-top: 48px; }
.mar-t-32 {	margin-top: 32px; }
.mar-t-24 {	margin-top: 24px; }
.mar-t-16 {	margin-top: 16px; }
.mar-t-8 {	margin-top: 8px; }
.mar-t-0 {	margin-top: 0; }

/*
  MARGIN: BOTTOM
*/

.mar-b-80 {	margin-bottom: 80px; }
.mar-b-64 {	margin-bottom: 64px; }
.mar-b-48 {	margin-bottom: 48px; }
.mar-b-32 {	margin-bottom: 32px; }
.mar-b-24 {	margin-bottom: 24px; }
.mar-b-16 {	margin-bottom: 16px; }
.mar-b-8 {	margin-bottom: 8px; }
.mar-b-4 { margin-bottom: 4px; }
.mar-b-0 {	margin-bottom: 0; }

/*
  MARGIN: LEFT
*/

.mar-l-80 {	margin-left: 80px; }
.mar-l-64 {	margin-left: 64px; }
.mar-l-48 {	margin-left: 48px; }
.mar-l-32 {	margin-left: 32px; }
.mar-l-24 {	margin-left: 24px; }
.mar-l-16 {	margin-left: 16px; }
.mar-l-8 {	margin-left: 8px; }
.mar-l-0  {	margin-left: 0; }

/*
  MARGIN: RIGHT
*/

.mar-r-80 {	margin-right: 80px; }
.mar-r-64 {	margin-right: 64px; }
.mar-r-48 {	margin-right: 48px; }
.mar-r-32 {	margin-right: 32px; }
.mar-r-24 {	margin-right: 24px; }
.mar-r-16 {	margin-right: 16px; }
.mar-r-8 {	margin-right: 8px; }
.mar-r-0  {	margin-right: 0; }


/*
  *********************** PADDINGS ***********************

  PADDING: TOP
*/

  .pad-80 {	padding: 80px; }
  .pad-64 {	padding: 64px; }
  .pad-48 {	padding: 48px; }
  .pad-32 {	padding: 32px; }
  .pad-24 {	padding: 24px; }
  .pad-16 {	padding: 16px; }
  .pad-0 {	padding: 0; }   

.pad-t-80 {	padding-top: 80px; }
.pad-t-64 {	padding-top: 64px; }
.pad-t-48 {	padding-top: 48px; }
.pad-t-32 {	padding-top: 32px; }
.pad-t-24 {	padding-top: 24px; }
.pad-t-16 {	padding-top: 16px; }
.pad-t-0 {	padding-top: 0; }

/*
  PADDING: BOTTOM
*/

.pad-b-80 {	padding-bottom: 80px; }
.pad-b-64 {	padding-bottom: 64px; }
.pad-b-48 {	padding-bottom: 48px; }
.pad-b-32 {	padding-bottom: 32px; }
.pad-b-24 {	padding-bottom: 24px; }
.pad-b-16 {	padding-bottom: 16px; }
.pad-b-0 {	padding-bottom: 0; }

/*
  PADDING: LEFT
*/

.pad-l-0  { padding-left: 0px; }
.pad-l-16 {	padding-left: 16px; }
.pad-l-24 {	padding-left: 24px; }
.pad-l-32 {	padding-left: 32px; }
.pad-l-48 {	padding-left: 48px; }

/*
  PADDING: RIGHT
*/

.pad-r-0  {	padding-right: 0px; }
.pad-r-16 {	padding-right: 16px; }
.pad-r-24 {	padding-right: 24px; }
.pad-r-32 {	padding-right: 32px; }
.pad-r-48 {	padding-right: 48px; }


/*
  BLOCKS
*/

.block-80 {
	padding-top: 80px;
	padding-bottom: 80px;
	overflow: hidden;
}

.block-64 {
	padding-top: 64px;
	padding-bottom: 64px;
}

.block-48 {
	padding-top: 48px;
	padding-bottom: 48px;
}

.block-32 {
	padding-top: 32px;
	padding-bottom: 32px;
}

.block-24 {
	padding-top: 24px;
	padding-bottom: 24px;
}

.block-16 {
	padding-top: 16px;
	padding-bottom: 16px;
}

.block-100vh {
	height: 100vh;
}

/*
  FLEX
*/

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-center-justify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-right-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-inverse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-left-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-left-wrapped {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-left-wrapped-inverse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/*
  BORDERS
*/

.border-b {	border-bottom: 1px solid rgba(0,0,0,0.16);
}

.border-t {	border-top: 1px solid rgba(0,0,0,0.16);
}

/*
  FONT
*/

.text-center {	text-align: center; }

.text-right {	text-align: right; }

.text-justify {	text-align: justify; }

.font-14 {
	font-size: 14px;
	line-height: 24px;
}

/*
  CUSTOM
*/

.clear {	clear: both;}

.col-sm-show {
	display: none;
}

@media (max-width: 991px) {
  /*
     *********************** MARGINS ***********************

     MARGIN: TOP
   */

  .mar-t-80-tablet {	margin-top: 80px; }
  .mar-t-64-tablet {	margin-top: 64px; }
  .mar-t-48-tablet {	margin-top: 48px; }
  .mar-t-32-tablet {	margin-top: 32px; }
  .mar-t-24-tablet {	margin-top: 24px; }
  .mar-t-16-tablet {	margin-top: 16px; }
  .mar-t-0-tablet {	margin-top: 0; }

  /*
    MARGIN: BOTTOM
  */

  .mar-b-80-tablet {	margin-bottom: 80px; }
  .mar-b-64-tablet {	margin-bottom: 64px; }
  .mar-b-48-tablet {	margin-bottom: 48px; }
  .mar-b-32-tablet {	margin-bottom: 32px; }
  .mar-b-24-tablet {	margin-bottom: 24px; }
  .mar-b-16-tablet {	margin-bottom: 16px; }
  .mar-b-0-tablet {	margin-bottom: 0; }

  /*
    MARGIN: LEFT
  */

  .mar-l-80-tablet {	margin-left: 80px; }
  .mar-l-64-tablet {	margin-left: 64px; }
  .mar-l-48-tablet {	margin-left: 48px; }
  .mar-l-32-tablet {	margin-left: 32px; }
  .mar-l-24-tablet {	margin-left: 24px; }
  .mar-l-16-tablet {	margin-left: 16px; }
  .mar-l-0-tablet  {	margin-left: 0; }

  /*
    MARGIN: RIGHT
  */

  .mar-r-80-tablet {	margin-right: 80px; }
  .mar-r-64-tablet {	margin-right: 64px; }
  .mar-r-48-tablet {	margin-right: 48px; }
  .mar-r-32-tablet {	margin-right: 32px; }
  .mar-r-24-tablet {	margin-right: 24px; }
  .mar-r-16-tablet {	margin-right: 16px; }
  .mar-r-0-tablet  {	margin-right: 0; }


  /*
    *********************** PADDINGS ***********************

    PADDING: TOP
  */

  .pad-t-80-tablet {	padding-top: 80px; }
  .pad-t-64-tablet {	padding-top: 64px; }
  .pad-t-48-tablet {	padding-top: 48px; }
  .pad-t-32-tablet {	padding-top: 32px; }
  .pad-t-24-tablet {	padding-top: 24px; }
  .pad-t-16-tablet {	padding-top: 16px; }
  .pad-t-0-tablet {	padding-top: 0; }

  /*
    PADDING: BOTTOM
  */

  .pad-b-80-tablet {	padding-bottom: 80px; }
  .pad-b-64-tablet {	padding-bottom: 64px; }
  .pad-b-48-tablet {	padding-bottom: 48px; }
  .pad-b-32-tablet {	padding-bottom: 32px; }
  .pad-b-24-tablet {	padding-bottom: 24px; }
  .pad-b-16-tablet {	padding-bottom: 16px; }
  .pad-b-0-tablet {	padding-bottom: 0; }

  /*
    PADDING: LEFT
  */

  .pad-l-0-tablet  { padding-left: 0px; }
  .pad-l-16-tablet {	padding-left: 16px; }
  .pad-l-24-tablet {	padding-left: 24px; }
  .pad-l-32-tablet {	padding-left: 32px; }
  .pad-l-48-tablet {	padding-left: 48px; }

  /*
    PADDING: RIGHT
  */

  .pad-r-0-tablet  {	padding-right: 0px; }
  .pad-r-16-tablet {	padding-right: 16px; }
  .pad-r-24-tablet {	padding-right: 24px; }
  .pad-r-32-tablet {	padding-right: 32px; }
  .pad-r-48-tablet {	padding-right: 48px; }
}

/* SM */
@media (max-width: 768px) {
	.col-sm-hidden {
		display: none;
	}
	.col-sm-show {
		display: block;
	}
}

@media (max-width: 575px) {
	
	.mobile-hidden {
		display: none;
	}

  /*
    *********************** MARGINS ***********************

    MARGIN: TOP
  */

  .mar-t-80-phone {	margin-top: 80px; }
  .mar-t-64-phone {	margin-top: 64px; }
  .mar-t-48-phone {	margin-top: 48px; }
  .mar-t-32-phone {	margin-top: 32px; }
  .mar-t-24-phone {	margin-top: 24px; }
  .mar-t-16-phone {	margin-top: 16px; }
  .mar-t-8-phone {	margin-top: 8px; }
  .mar-t-0-phone {	margin-top: 0; }

  /*
    MARGIN: BOTTOM
  */

  .mar-b-80-phone {	margin-bottom: 80px; }
  .mar-b-64-phone {	margin-bottom: 64px; }
  .mar-b-48-phone {	margin-bottom: 48px; }
  .mar-b-32-phone {	margin-bottom: 32px; }
  .mar-b-24-phone {	margin-bottom: 24px; }
  .mar-b-16-phone {	margin-bottom: 16px; }
  .mar-b-8-phone {	margin-bottom: 8px; }
  .mar-b-0-phone {	margin-bottom: 0; }

  /*
    MARGIN: LEFT
  */

  .mar-l-80-phone {	margin-left: 80px; }
  .mar-l-64-phone {	margin-left: 64px; }
  .mar-l-48-phone {	margin-left: 48px; }
  .mar-l-32-phone {	margin-left: 32px; }
  .mar-l-24-phone {	margin-left: 24px; }
  .mar-l-16-phone {	margin-left: 16px; }
  .mar-l-8-phone {	margin-left: 8px; }
  .mar-l-0-phone  {	margin-left: 0; }

  /*
    MARGIN: RIGHT
  */

  .mar-r-80-phone {	margin-right: 80px; }
  .mar-r-64-phone {	margin-right: 64px; }
  .mar-r-48-phone {	margin-right: 48px; }
  .mar-r-32-phone {	margin-right: 32px; }
  .mar-r-24-phone {	margin-right: 24px; }
  .mar-r-16-phone {	margin-right: 16px; }
  .mar-r-8-phone {	margin-right: 8px; }
  .mar-r-0-phone  {	margin-right: 0; }


  /*
    *********************** PADDINGS ***********************

    PADDING: TOP
  */

  .pad-t-80-phone {	padding-top: 80px; }
  .pad-t-64-phone {	padding-top: 64px; }
  .pad-t-48-phone {	padding-top: 48px; }
  .pad-t-32-phone {	padding-top: 32px; }
  .pad-t-24-phone {	padding-top: 24px; }
  .pad-t-16-phone {	padding-top: 16px; }
  .pad-t-8-phone {	padding-top: 8px; }
  .pad-t-0-phone {	padding-top: 0; }

  /*
    PADDING: BOTTOM
  */

  .pad-b-80-phone {	padding-bottom: 80px; }
  .pad-b-64-phone {	padding-bottom: 64px; }
  .pad-b-48-phone {	padding-bottom: 48px; }
  .pad-b-32-phone {	padding-bottom: 32px; }
  .pad-b-24-phone {	padding-bottom: 24px; }
  .pad-b-16-phone {	padding-bottom: 16px; }
  .pad-b-8-phone {	padding-bottom: 8px; }
  .pad-b-0-phone {	padding-bottom: 0; }

  /*
    PADDING: LEFT
  */

  .pad-l-0-phone  { padding-left: 0px; }
  .pad-l-8-phone {	padding-left: 8px; }
  .pad-l-16-phone {	padding-left: 16px; }
  .pad-l-24-phone {	padding-left: 24px; }
  .pad-l-32-phone {	padding-left: 32px; }
  .pad-l-48-phone {	padding-left: 48px; }

  /*
    PADDING: RIGHT
  */

  .pad-r-0-phone  {	padding-right: 0px; }
  .pad-r-8-phone  {	padding-right: 8px; }
  .pad-r-16-phone {	padding-right: 16px; }
  .pad-r-24-phone {	padding-right: 24px; }
  .pad-r-32-phone {	padding-right: 32px; }
  .pad-r-48-phone {	padding-right: 48px; }


  /*
    *********************** PADDINGS ***********************

    TEXT
  */  

  .text-center-phone {
    text-align: center;
  }

  .div-full-phone {
    width: 100%;
  }

}

@media (max-width: 320px) {
	.hidden-320 {
		display: none;
	}
}
